.text-info {
    font-size: 30px;
}

.box {
  height: 1200px;
  width: 2400px;
  padding: 100px;
  color: rgb(8, 7, 7);
  background: white;
}

.justify-content-md-center {
  color: rgb(10, 145, 163)
}

h1 {
  font-size: 30px;
  color: rgb(10, 145, 163);
}

h2 {
  font-size: 12px;
  color: black
}

.backgroundgrey {
  background-color: rgba(243, 237, 237, 0.527)
}

#textblack {
  color: black
}

#textdarkgrey {
  color: rgb(37, 37, 37)
}

@media all and (max-width: 775px) {
    #turquoise {
      background-color: rgb(14, 159, 179) !important;
}}